<div>
  <h2 id="page-heading" data-cy="TabelaTestHeading">
    <span jhiTranslate="analitikaApp.tabelaTest.home.title">Tabela Tests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="analitikaApp.tabelaTest.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tabela-test"
        [routerLink]="['/tabela-test/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="analitikaApp.tabelaTest.home.createLabel"> Create a new Tabela Test </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tabelaTests?.length === 0">
    <span jhiTranslate="analitikaApp.tabelaTest.home.notFound">No tabelaTests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tabelaTests && tabelaTests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="analitikaApp.tabelaTest.broj">Broj</span></th>
          <th scope="col"><span jhiTranslate="analitikaApp.tabelaTest.ime">Ime</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tabelaTest of tabelaTests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tabela-test', tabelaTest.id, 'view']">{{ tabelaTest.id }}</a>
          </td>
          <td>{{ tabelaTest.broj }}</td>
          <td>{{ tabelaTest.ime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tabela-test', tabelaTest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tabela-test', tabelaTest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tabelaTest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
