<h2 mat-dialog-title>Postupci</h2>
<mat-dialog-content class="mat-typography">
  <form name="editForm" role="form" novalidate (ngSubmit)="confirmAdd()" [formGroup]="editForm">
    <div>
      <jhi-alert-error></jhi-alert-error>
      <mat-form-field>
        <input matInput placeholder="region" formControlName="region" name="region" />
        <div *ngIf="editForm.get('region')!.invalid && (editForm.get('region')!.dirty || editForm.get('region')!.touched)"></div>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="promet" formControlName="promet" name="promet" />
        <div *ngIf="editForm.get('promet')!.invalid && (editForm.get('promet')!.dirty || editForm.get('promet')!.touched)"></div>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button id="sacuvaj-button" mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="true" cdkFocusInitial>
    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
  </button>
  <button type="submit" color="primary" (click)="confirmAdd()" [mat-dialog-close]="true" cdkFocusInitial>
    <fa-icon icon="save"></fa-icon>&nbsp;
    <span>Add</span>
  </button>
</mat-dialog-actions>
